.modalBackdrop {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
}

.modal {
    border: 1px solid #47474a;
    padding: 10px 26px;
    border-radius: 20px;
    width: 20rem;
}

.modal h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: normal;
}

.modal input {
    padding: 16px;
    background-color: #1f1f23;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    width: calc(100% - 32px);
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.saveButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton {
    background: none;
    color: #4b83ff;
    font-size: large;
    font-weight: bold;
}

.cancelButton {
    background: none;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

.verticalLine {
    height: 100%;
    width: 1px;
    background-color: #47474a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
