.modalBackdrop {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #121212;
    border-radius: 20px;
}

.modal {
    border: 1px solid #47474a;
    padding: 10px 26px;
    border-radius: 20px;
    width: 20rem;
}

.modal h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.confirmButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmButton {
    background: none;
    color: #4b83ff;
    font-size: large;
    font-weight: bold;
}

.cancelButton {
    background: none;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

.verticalLine {
    height: 100%;
    width: 1px;
    background-color: #47474a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
