.settings {
    padding: 10px;
    width: 400px;
    margin: 20px auto;
}

.settings h3 {
    margin-bottom: 3rem;
    text-align: center;
}

.inputGroup {
    position: relative;
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.eyeIcon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.inputGroup input {
    width: calc(100% - 82px);
    padding: 12px 40px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    outline: none;
}

.updateButton {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    background-color: #1a5fff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.updateButton:hover {
    background-color: #0055cc;
}

.logout {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #e74c3c;
}

.logoutIcon {
    margin-right: 10px;
    font-size: x-large;
}
