.chatBubble {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.botBubble {
    justify-content: flex-start;
    max-width: 60%;
    margin-left: 50px;
    /* Same margin as profile image width plus some spacing */
    position: relative;
}

.userBubble {
    justify-content: flex-end;
    margin-left: auto;
    max-width: 60%;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    /* Adjust to position the image outside the bubble */
}

.textBubble,
.imageBubble,
.videoBubble,
.gifBubble {
    background-color: #f6f8fe;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.imageBubble {
    max-width: 100%;
}

.videoBubble {
    max-width: 100%;
}

.gifBubble {
    max-width: 100%;
}

.inputBubble {
    display: flex;
    align-items: center;
    /* max-width: 60%; */
}

.inputBubble input:disabled {
    background-color: #767677;
}

.inputBubble input,
.inputBubble button {
    margin: 5px;
}

.inputBubble input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputBubble button {
    background-color: #1a5fff;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.inputBubble button:disabled {
    background-color: #767677;
    cursor: not-allowed;
}

.inputBubble .inputButton {
    padding: 10px;
    background-color: #053ec4;
}

.inputBubble .inputButton:disabled {
    background-color: #ff8f20;
}

.inputBubble > div {
    background-color: #ffffff;
    display: flex;
    border-radius: 5px;
    padding: 0px 10px;
}

.inputBubble.disabled > div {
    background-color: #767677;
}

.rating {
    cursor: pointer;
    padding: 10px;
    margin: 8px 10px;
    border-radius: 50%;
    background-color: #1a5fff;
    width: 1px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: small;
}

.selectedRating {
    background-color: #ff8e21;
    color: white;
    padding: 10px;
    margin: 8px 10px;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: small;
}
