.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 60px;
    color: #ffffffeb;
}

.column {
    flex: 1;
    margin: 0 20px;
}

.link {
    margin-left: -3rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    text-align: center;
}

.column a {
    text-decoration: underline;
    color: #ffffffeb;
    margin-right: 0.3rem;
}
