.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 60px;
    padding-top: 0px;
    color: #ffffffeb;
    background-color: #171923;
}

.column {
    flex: 1;
    margin: 0 20px;
}

.column p {
    margin-top: 2rem;
}

.link {
    margin-left: 5.7rem;
    margin-top: -1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    text-align: center;
}

.column a {
    text-decoration: underline;
    color: #ffffffeb;
    margin-right: 0.3rem;
}
