.createTypeBotPage {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 100vh;
    background-color: #1f1f23;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff29;
    width: calc(100% - 40px);
    padding: 14px 20px;
    background-color: #18181b;
}

.formNameInput {
    width: fit-content;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #37373e;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    color: #ffffff;
    background: none;
}

.activeTab {
    color: #7ea6ff;
    border: 1px solid #7ea6ff;
}

.content {
    display: flex;
    height: calc(100% - 60px);
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    gap: 10px;
    padding: 14px;
    background-color: #18181b;
    width: 300px;
    overflow-y: auto;
    border: 1px solid #ffffff29;
    margin: 16px;
    border-radius: 5px;
}

.sidebar h5 {
    margin: 0;
    padding: 0 0 10px 0;
}

.bubbleGroup,
.inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.bubble,
.input {
    padding: 10px 20px;
    background-color: #1f1f23;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #27272a;
}

.bubbleIcon {
    color: #4b83ff;
    font-size: large;
}

.inputIcon {
    color: #ffa54c;
    font-size: medium;
}

.workspace {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f23;
}

.startBubble {
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareButton,
.saveButton {
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.shareButton {
    background-color: #848890;
}

.saveButton {
    background-color: #4ade80cc;
}
