.createTypeBotPage {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 100vh;
    background-color: #1f1f23;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff29;
    width: calc(100% - 40px);
    padding: 14px 20px;
    background-color: #18181b;
}

.formNameContainer {
    display: flex;
    flex-direction: column;
}

.formNameInput {
    width: fit-content;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #37373e;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    color: #ffffff;
    background: none;
}

.activeTab {
    color: #7ea6ff;
    border: 1px solid #7ea6ff;
}

.content {
    display: flex;
    height: calc(100% - 60px);
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    gap: 10px;
    padding: 14px;
    background-color: #18181b;
    width: 300px;
    overflow-y: auto;
    border: 1px solid #ffffff29;
    margin: 16px;
    border-radius: 5px;
}

.sidebar h5 {
    margin: 0;
    padding: 0 0 10px 0;
}

.bubbleGroup,
.inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.bubble,
.input {
    padding: 10px 20px;
    background-color: #1f1f23;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #27272a;
}

.bubbleIcon {
    color: #4b83ff;
    font-size: large;
}

.inputIcon {
    color: #ffa54c;
    font-size: medium;
}

.workspace {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #1f1f23;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.startBubble {
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: #18181b;
    border-radius: 16px;
    width: 15rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.startBubble h4 {
    margin: 0;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareButton,
.saveButton {
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.shareButton {
    background-color: #848890;
}

.saveButton {
    background-color: #4ade80cc;
}

.flowItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #18181b;
    border-radius: 16px;
    width: 15rem;
    margin-bottom: 2rem;
}

.flowDetails h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.flowIcon {
    margin-right: 0.5rem;
}

.inputContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #1f1f23;
    border: 1px solid #27272a;
    border-radius: 5px;
    width: calc(15rem - 22px);
}

.inputContainer span {
    color: #1a5fff;
    font-size: larger;
    display: flex;
}

.errorInput {
    border-color: #f55050;
}

.flowInput {
    flex: 1;
    padding: 0.5rem;
    background-color: #1f1f23;
    border: none;
    color: #ffffff;
}

.errorText {
    color: #522224;
    font-size: 0.7rem;
}

.deleteIcon {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    color: #f82b60;
    margin-left: 0.5rem;
    background-color: #444444;
    padding: 5px;
    border-radius: 30px;
    font-size: larger;
}

.themeContent {
    display: flex;
    height: calc(100% - 60px);
    overflow-y: hidden;
}

.themeSidebar {
    padding: 14px;
    background-color: #18181b;
    width: 300px;
    border-right: 1px solid #ffffff29;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.themeSidebar h3 {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
}

.themeSidebar h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff29;
}

.themeOption {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    width: 80%;
}

.themeImage {
    width: 100%;
    height: auto;
    max-height: 19vh;
    border-radius: 6px;
    border: 1px solid #ffffff29;
}

.preview {
    flex-grow: 1;
    padding: 3rem 10rem;
    border-radius: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
}

.botProfile {
    display: flex;
}

.previewBubble {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 6px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.previewText {
    color: #333;
}

.botBubble {
    background-color: #0042da;
    color: white;
    margin-top: 4rem;
    position: relative;
}

.botBubble p {
    margin: 0;
}

.dot {
    position: absolute;
    right: -3px;
    top: -3px;
}

.responseContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    background-color: #18181b;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.analytics {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    background-color: #323232;
    padding: 20px 10px;
    border-radius: 15px;
    text-align: center;
    width: 14%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.card h2 {
    margin: 0;
    font-weight: 600;
}

.card p {
    font-size: 1.5rem;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #323232;
    padding: 12px;
    text-align: left;
    color: #ffffff;
}

th {
    background-color: #18181b;
}

.noData {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #69696973;
    font-size: xx-large;
    height: calc(100vh - 100px);
}

.copyMessage {
    position: absolute;
    top: 5rem;
    right: 7rem;
    background-color: #18181b;
    color: #ffffffeb;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #3d3d3f;
}

.copyText {
    margin: 0;
    display: flex;
    align-items: center;
}
